ul{
    float:right;
}
 li {
     display: inline;
     padding: 10px;
 }
 .div1{
     height:400px;
     width:100%;
     background-image: url("../Images/dffd.jpg");
 }

 .div1_img{
     height:380px;
     width:380px;
     margin-left: 40px;
 }

 .m{
     margin-left: -90px;
 }
 
 #content{
    margin-left: 610px;
    margin-top: -310px;
 }
 .btn1{
     height:30px;
     width:120px;
     background-color:darkslategray;
     text-align: center;
     padding-top: 2px;
     border-radius: 9px;
     color: white;
 }

 .div2{
     height:400px;
     width:100%;
 }
 .line1{
    text-align: center;
 }
 .sections{
     background-color: #FFDB58;
     height:500px;
     border-radius:20px;
     margin-left: 63px;
 }
 .div2img{
     height:50px;
     width:50px;
     margin:center;
     margin-left: 124px;
     margin-top: 50px;
 }
 .heading{
     font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
     text-align:center;
     margin-top: 20px;
 }

 .content2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align:center;
    margin-top: 20px;
    margin-left: -41px
 }
 .sec3{
    width:100%;
    position: relative;
    height:550px;
    margin-top: 20px;
 }
.s3-text{
    position: absolute;
    background-color: white;
    border-radius: 18px;
    font-family:Arial, Helvetica, sans-serif;
    color: rgb(59, 59, 78);
    font-size: 120%;
    right: 0px;
    top:100px;
    left:860px;
    padding: 15px;
    width:32%;
    height: 320px;
    padding-top: 50px;
    font-weight: 100;
}

.btn2{
    height:30px;
    width:160px;
    background-color: darkslategray;
    text-align: center;
    padding-top: 4px;
    border-radius: 9px;
    font-size: 15px;
    color:white;
}
.sec4{
    width:100%;
    position: relative;
    background-color: white;
    display:flex;
    padding: 50px;
    
}
.s4-text{
    font-size:xx-large;
    font-family:Arial; 
}
.s4-column1 {
    position: absolute;
    width:60%;
    font-family: Arial;
    padding: 40px;
    padding-top:5px;
    height: 350px;
    border-radius: 40px;
    border-spacing: 5px;
}
.s4-column2 {
    position: absolute;
    width:40%;
    background-color:yellow;
    left:680px;
    padding: 28px;
    padding-top: 5px;
    height: 350px;
    border-radius: 44px;
    border-spacing: 5px;
}
.t{
    text-align: center;
    padding: 15px;
}

.sec5 {
    position:absolute; 
    width: 100%;
    height:550px;
    background-color: rgb(233, 233, 35);
    margin-top:500px;
    
  
  }
  .s5-img{
    position: absolute;
    height:60%;
    width: 40%;
    border-radius: 40px;
    margin-top: -150px;
    margin-left: 80px;
  }
  .box-txt{
    text-align: left;
    font-size: 400%;
    padding:20px;
    
  }
  .box {
    background:darkslategray;
    position:absolute;
    border-radius: 30px;
    color: white;
    height: 150px;
    width: 300px;
    top:200px;
    left:450px;
    margin-top: -100px;
    
  }
  .s5-p1{
    width: 30%;
    text-align: left;
    position:absolute;
    top:350px;
    left:460px;
    font-size: 15px;
    font-weight: bold;
    margin-top: -80px;
  }
  .s5-p2{
    width: 30%;
    text-align: left;
    position:absolute;
    top:200px;
    left:910px;
    font-size: 18px;
    margin-top:-16px;
  }
  .btn3{
    height:35px;
    width:160px;
    background-color: darkslategray;
    text-align: center;
    padding-top: 6px;
    border-radius: 9px;
    font-size: 15px;
    color:white;
    position: absolute;
    top:430px;
    left:460px;
}
.sec6{
    width:100%;
    height:650px;
    position: relative;
    margin-top:490px;
  }
  .s6-text{
    position: absolute;
    background-color: white;
    border-radius: 18px;
    font-family:Arial, Helvetica, sans-serif;
    color: rgb(59, 59, 78);
    font-size: 120%;
    right: 0px;
    top:610px;
    left:860px;
    padding: 15px;
    width:25%;
    height:350px;
    padding-top: 40px;
  }
  .sec7{
    position:relative;
    background-color: #FFDB58;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 45px;
    text-align: center;
}
.sec7-text{
    position:relative;
    background-color: #FFDB58;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    text-align: center;
}
.table-image{
    
    width: 100%;
    float: center;
    padding:10px;
 }

 .sec8-column {
    flex: 40%;
    padding: 50px;
    height: 300px;
    background-color:rgb(233, 233, 35);
  }

  input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    background-color: #daeee7;
   }

   /* Style the submit button with a specific background color etc */
  input[type=submit] {
     background-color: #252c29;
     color: white;
     padding: 12px 20px;
     border: none;
     border-radius: 4px;
     cursor: pointer;
     width:100%;
  }

  /* When moving the mouse over the submit button, add a darker green color */
  input[type=submit]:hover {
     background-color: #56a8df;
  }

  /* Add a background color and some padding around the form */
 .f-container {
    border-radius: 5px;
    background-color: white;
    
  }
  .s8-column{
      /* margin-top: 5px; */
      margin-left: 20px;
      background-color:white;
      width:50%
  }
  .img-icon{
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    margin: 2px 2px;
    
  }
  .s8-img{
      float: right;
      border-radius: 20px;
  }
  .s8{
    background-color:white;
    display: flex;

  }
  .sec-9{
    background-color: #141313;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-align: center;
    height: 30%;
    padding: 20px;
}